.bg-custom{
	background: #8e24aa;
}
.navbar .nav-item .nav-link{
	font-size: 20px;
	color: white;
}
.navbar-custom .nav-item:hover .nav-link{
	background: white;
	color: black;
	border-radius: 10px;
}

.div-color{
	background-image: linear-gradient(to right top, #b2ccf2, #acd7f7, #a9e0f8, #aceaf7, #b3f2f4);
	height: 600px;
}